<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Appointment Details

            </h3>

            <?php if(isset($appointmentDetail)) : 
           
            ?>
            <?php foreach ($appointmentDetail as $appointment){
            
            
            ?>
    
            <div class="row">
                <div class="col-md-6">
                    <form role="form">
                        <div class="form-group">

                            <label for="patientID">
                                Patient ID
                            </label>
                            <input type="text" class="form-control" id="patientID" value="<?=$appointment->getId()?>" disabled/>
                        </div>

                        <div class="form-group">

                            <label for="firstname">
                                First Name
                            </label>
                            <input type="text" class="form-control" id="firstname" value="<?=$appointment->getFirstName()?>"/>
                        </div>
                        <div class="form-group">

                            <label for="lastname">
                                Last Name
                            </label>
                            <input type="text" class="form-control" id="lastname"value="<?=$appointment->getLastName()?>" />
                        </div>
                        <div class="form-group">

                            <label for="birthday">
                                Birthday
                            </label>
                            <input type="text" class="form-control" id="birthday" value="<?=$appointment->getBirthday()?>" />
                        </div>

                        <div class="form-group">

                            <label for="status">
                                Status
                            </label>
                            <select class="form-control" id="status">
                                    <option value="SCHEDULED">SCHEDULED</option>
                                    <option value="RESCHEDULED">RESCHEDULED</option>
                                    <option value="CLOSED">CLOSED</option>
                                    <option value="CANCLED">CANCLED</option>
                                  </select>
                            
                        </div>
                        
                        
                       <a class='btn btn-block btn-lg btn-primary' role='button' href='somewhere?id=<?=$appointment->getId()?>'>Treat Patient</a>
                      
                   
                      ?>
                    </form>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <?php }?>
            <?php endif;?>
       
            
        </div>
    </div>
</div>