<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Appointment Details

            </h3>

            <?php if(isset($appointmentDetail)) : 
            
            
            
            ?>
            <?php foreach ($appointmentDetail as $appointment){
            $fname = $appointment->getFirstName()   ;
            echo $fname;
            ?>
    
            <div class="row">
                <div class="col-md-6">
                    <form role="form">
                        <div class="form-group">

                            <label for="patientID">
                                Patient ID
                            </label>
                            <input type="text" class="form-control" id="patientID" value="<?=$fname?>" />
                        </div>

                        <div class="form-group">

                            <label for="firstname">
                                First Name
                            </label>
                            <input type="text" class="form-control" id="firstname" />
                        </div>
                        <div class="form-group">

                            <label for="lastname">
                                Last Name
                            </label>
                            <input type="text" class="form-control" id="lastname" />
                        </div>
                        <div class="form-group">

                            <label for="birthday">
                                Birthday
                            </label>
                            <input type="text" class="form-control" id="birthday" />
                        </div>

                        <div class="form-group">

                            <label for="status">
                                Status
                            </label>
                            <input type="text" class="form-control" id="status" />
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">
                            Update
                        </button>
                    </form>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <?php }?>
            <?php endif;?>
       
            
        </div>
    </div>
</div>