<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Appointment Details

            </h3>

            <?php if(isset($appointmentDetail)) : 
           
            ?>
            <?php foreach ($appointmentDetail as $appointment){
            
            
            ?>
    
            <div class="row">
                <div class="col-md-6">
                    <form role="form">
                        <div class="form-group">

                            <!-- <label for="patientID">
                                Patient ID
                            </label> -->
                            <input type="text" class="form-control" id="patientID" value="<?=$appointment->getId()?>" hidden/>
                            <input type="text" class="form-control" id="apptID" value="<?=$appointment->getApptId()?>" hidden/>
                        </div>

                        <div class="form-group">

                            <label for="firstname">
                                First Name
                            </label>
                            <input type="text" class="form-control" id="firstname" value="<?=$appointment->getFirstName()?>"disabled/>
                        </div>
                        <div class="form-group">

                            <label for="lastname">
                                Last Name
                            </label>
                            <input type="text" class="form-control" id="lastname"value="<?=$appointment->getLastName()?>" disabled/>
                        </div>
                        <div class="form-group">

                            <label for="birthday">
                                Birthday
                            </label>
                            <input type="text" class="form-control" id="birthday" value="<?=$appointment->getBirthday()?>" disabled/>
                        </div>

                        <div class="form-group">

                            <label for="status">
                                Status
                            </label>
                            <input type="text" class="form-control" id="stuats" value="<?=$appointment->getStatus()?>" disabled/>
                            
                        </div>
                        
                        <div class="tpbutton">
                        
                       <a  class="btn btn-success" href='treatpatient?id=<?=$appointment->getApptId()?>'><span class="fa fa-plus-square"></span>     Treat Patient</a>
                       
                       <a class="btn  btn-primary" href='changeappointment?id=<?=$appointment->getApptId()?>&from=<?=$appointment->getFrom()?>'><span class="far fa-edit"></span>  Change Appointment Details</a>
                       <a  class="btn  btn-secondary" href='medicalhistory?id=<?=$appointment->getId()?>'><span class="far fa-eye"></span> View Medical History</a>
                    </div>
                   
                      
                    </form>
                </div>
                <div class="col-md-6">
                </div>
                
            </div>
            <?php }?>
            <?php endif;?>
       
            
        </div>
    </div>
</div>